<div class="element-left">
  <div class="element-bg-img"><img src="../../../assets/images/1.jpg" alt="" class="img-responsive"></div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Fishing</a></li>
        <li><a href="#">Tours</a></li>
        <li class="anc-bor"><a href="#">Weather</a></li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <input placeholder="Search your hotel" type="text" [(ngModel)]="searchHotel">
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div class="activity-row" *ngFor="let hotel of hotels | hotelFilter:searchHotel:'title':'description':'stars'; index as i;">

            <app-item [hotel]="hotel" [selectedHotel]="selectedHotel" (click)="selectHotel(hotel.id)"></app-item>
            <div class="clear"></div>
            <li style="color: red; background-color: #5fb3f9" *ngIf="hotel.fav">{{hotel.title + ' is added to fav'}}</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
